@keyframes Blueness {
  0% {
    background-color: black;
  }
  33% {
    background-color: mediumblue;
  }
  66% {
    background-color: crimson;
  }
  100% {
    background-color: black;
  }
}

.blueBox {
  width: 60vmin;
  height: 60vmin;
  border-radius: 3px;
  margin: auto;
  animation-name: Blueness;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
